<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="org.bspeice.minimalbible.MinimalBibleDebug"
        tools:replace="android:name">
        <activity
            android:name="org.bspeice.minimalbible.test.activity.FragmentTestActivity"
            android:label="@string/title_activity_fragment_test" />
    </application>

</manifest>
